@model IEnumerable<Tarea>



<title>
    @{
        ViewData["Title"] = "Tareas";
    }
</title>



<h1>Todas las tareas</h1>


<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1">


            @foreach (var item in Model)
            {

                <div class="col-12">
                    <div class="card mb-4 shadow-sm">
                        <div class="row g-0">
                            @if (item.FotoUrl != null)
                            {
                                <div class="col-md-4">
                                    <img src="@item.FotoUrl" alt="Imagen de @item.Nombre" class="img-fluid rounded-start">
                                </div>
                            }
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Nombre</h5>
                                    <p class="card-text"><small class="text-muted">@item.Departamento.Nombre</small></p>
                                    @if (item.User != null)
                                    {
                                        <p class="card-text">Responsable: <strong>@item.User.Nombre</strong></p>
                                    }
                                    else
                                    {
                                        <p class="card-text">Responsable: <strong>No asignado</strong></p>
                                    }
                                <div class="d-flex justify-content-start align-items-center">

                                    <form asp-controller="Tarea" asp-action="Me" method="post">
                                        <input type="hidden" name="idTarea" value="@item.Id" />
                                        <input type="hidden" name="returnUrl" value="@Context.Request.Path.Value" />
                                        <button type="submit" class="btn btn-primary btn-sm me-2">Anotarme</button>
                                    </form>

                                    @if (User.IsInRole("admin"))
                                    {
                                        <a asp-controller="tarea" asp-action="edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Editar</a>
                                    }
                                </div>
                                    <div class="mt-2">
                                        <span class="badge bg-success">@item.FechaEntrega.ToShortDateString()</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <p class="mb-auto">@item.Descripcion</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</div>

